{% extends 'sklepapp/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-1">
            <b>Name</b>
        </div>
        <div class="col-md-5">
            {{ department.name }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <b>Manager</b>
        </div>
        <div class="col-md-5">
            {{ department.manager.name }} {{ department.manager.surname }}
        </div>
    </div>
    <hr>
    <div>
        <h4>Employees</h4>
        {% include "sklepapp/employees_table.html" with employee_list=department.employee_set.all %}
    </div>
    <hr>
    <div>
        <h4>Products</h4>
        {% include "sklepapp/products_table.html" with product_list=department.product_set.all %}
    </div>

{% endblock %}